body{
    background: url('back.jpeg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap{
    max-width: 450px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;

}

h2{
    text-align: center;
    color: violet
}


input[type="text"],input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px #fff;
    color:aqua;
    border-radius: 5px;
    float: left;
    margin: 5px;
    font-weight: bold;

}
textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px #fff;
    color:aqua;
    border-radius: 5px;
    float: left;
    margin: 5px;
    font-weight: bold;
}
input[type="submit"]{
    width: 40%;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius:20px;
    font-size: 20px;
    color:#fff;

}
input[type="reset"]{
    width: 40%;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius:20px;
    font-size: 20px;
    float: right;
    margin-left: 4px;
    color:#fff;

}

input[type="submit"]:hover{
    background: #003366;
    opacity: 0.7;
}

input[type="reset"]:hover{
    background: #003366;
    opacity: 0.7;

}